html, body {
  margin: 0px;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  text-align: center;
}

#headline {
  width: 100%;
  background: linear-gradient(to right, green, yellow);
  padding: 1em;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
}

#home_link {
  position: absolute;
  display: block;
  text-align: right;
  width: 100%;
  margin: 0.5em 0em;
}
#home_link > a > img{
  position: relative;
  width: 3.5em;
  height: 3.5em;
  margin: 0em 1em;
}

#options {
  margin: 3em;
}

.link_item {
  border: 1px solid black;
  box-shadow: 0.5em 0.5em 1.5em black;
  height: 10em;
  width: 10em;
  margin: 2em;
}
