#notification {
  border: 1px solid;
  background: linear-gradient(to right, white, blue);
  padding-left: 2em;
  text-align: left;
}

form {
  margin: 2em auto;
}

#product_list {
  display: inline-flex;
}

.product {
  font-weight: bold;
}

.product_description {
  border: 1px solid;
  margin: 1em;
  padding: 1em;
}

.product_count {
  margin: 0em 1em;
}

.float_left {
  clear: left; 
  margin: auto;
  text-align: center;
}

#send_order {
  width: 33%;
  margin: 2em auto;
  padding: 0.75em;
  background-color: #BBEE88;
}
