form {
  display: inline-block;
  border: 1px solid;
  padding: 0.5em;
  margin: 2em auto;
  background: linear-gradient(to bottom right, #FFDDDD, #FF8888, #FFDDDD);
}
#login_form > table {
  margin: auto;
}
#login_form * {
  text-align: left;
}

#submit_btn {
  margin: 0.75em auto;
  width: 100%;
  text-align: center;
}

#user_infos {
  display: inline-block;
  margin: 2em auto;
}
#user_infos > div {
  text-align:left;
}
#logout_form {
  width: 100%;
}
