.forum_entry {
  border: 1px #666 solid;
  border-radius: 1em;
  text-align: left;
  width: 60%;
  margin: 1em auto 0em auto;
  padding: 0.5em;
  background: green;
}

.entry_header {
  margin: 0.5em 0.5em 0.5em 0.5em;
  padding: 0.5em;
  background: #FC0;
  border-radius: 0.5em;
}
.entry_header > * {
  margin-right: 2em;
}

.entry_msg {
  margin: 0em 0.5em 0.5em 0.5em;
  padding: 1em 0.5em;
  background: #FF5;
  border-radius: 0.5em;
  display: flex;
}
.entry_msg > * {
  margin-left: 0.25em;
}
.entry_msg > textarea {
  width: 100%;
  height: 8em;
  margin: auto auto;
}
